@import "../../../custom-theme.scss";

:root {
    --navbar-size: 5rem; // Used regular css variable to be dynamic at runtime
}
$transition-speed: 300ms;

.content-box {
    margin-left: var(--navbar-size);
    height: 100%;
    overflow-y: auto;

    .content {
        height: inherit;
        padding: 1rem 1rem 0 1rem;
    }
}

.navbar {
    position: fixed;
    background-color: $background-alt;
    z-index: 10;
    transition: width $transition-speed ease-in-out;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: hidden;
}

.nav-item {
    width: 100%;
    cursor: pointer;
}

.nav-link {
    display: flex;
    align-items: center;
    height: var(--navbar-size);
    color: $primary;
    user-select: none;
    filter: grayscale(100%) opacity(0.6);
    transition: $transition-speed;

    svg {
        --margin-width: 1.5rem;
        min-width: 1rem;
        max-width: calc(var(--navbar-size) - var(--margin-width) * 2);
        max-height: calc(var(--navbar-size) - var(--margin-width) * 2);
        margin: 0 var(--margin-width);
    }

    span {
        margin-right: 0;
        color: $primary;
        opacity: 0;
        font-weight: 500;
        font-size: 0;
    }

    &:hover {
        filter: grayscale(0%) opacity(1) brightness(125%);
        background-color: $background;
    }
}

.logo-section {
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    background-color: darken($background, 5);

    .nav-link {
        filter: opacity(1);
    }

    svg {
        color: $accent;
        transform: rotateY(0deg);
    }

    .logo svg {
        color: $warn;
        opacity: 0;
    }

    h1 {
        margin: 0 1.5rem;
        color: $font;
        display: none;
        font-weight: 600;
    }
}

@keyframes type {
    from {
        width: 0;
        opacity: 0;
    }
}

/* Larger screens */
@media only screen and (min-width: 601px) {
    .navbar {
        top: 0;
        max-width: var(--navbar-size);
        height: 100vh;

        .navbar-nav {
            overflow-x: hidden;
        }

        &:hover {
            max-width: calc(#{var(--navbar-size)} * 4);
            width: auto;
            transition: all $transition-speed ease-in;

            .navbar-nav {
                overflow-y: auto;
            }

            .logo-section {
                .nav-link {
                    background-color: initial;
                }

                .show-more svg {
                    opacity: 0;
                    display: none;
                    transition: all $transition-speed ease-in;
                }

                .logo svg {
                    transform: rotateY(180deg);
                    opacity: 1;
                    transition: all $transition-speed * 2 ease-in;
                }

                h1 {
                    display: block;
                    opacity: 1;
                    transition: all $transition-speed ease-in;
                    animation: type ($transition-speed * 1.5) steps(60, end);
                }
            }

            .nav-title {
                font-size: 1.2rem;
                margin-right: 1.5rem;
                opacity: 1;
                transition: all $transition-speed ease-in;
            }
        }
    }

    .nav-item:last-child {
        margin-top: auto;
    }

    .side-bar-tooltip {
        display: none;
    }
}

/* Smaller screens */
@media only screen and (max-width: 600px) {
    .content-box {
        margin-left: 0;
        height: calc(100vh - #{var(--navbar-size)});
    }

    .logo-section {
        display: none;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: var(--navbar-size);
        overflow-x: auto;
    }

    .navbar-nav {
        overflow-x: auto;
        overflow-y: hidden;
        flex-direction: row;
    }

    .nav-item {
        height: 100%;
    }

    .nav-link {
        height: 100%;
        justify-content: center;

        .nav-title {
            display: none;
        }
    }
}


/* Even smaller screens */
@media only screen and (max-width: 399px) {
    :root {
        --navbar-size: calc(100vw / 6);

        .nav-link svg {
            --margin-width: calc(100vw / 24);
        }
    }
}

mat-icon {
    height: auto !important;
    width: auto !important;
}

svg {
    color: $primary;
}

.snack-bar{
    white-space: pre-wrap;

    button {
       color: $primary;
    }

    &.warn button {
        color: $warn;
    }
}
