<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo-section">
      <div class="nav-link">
        <h1 class="nav-title">Encarvlucas</h1>
        <mat-icon svgIcon="showMoreIcon" class="show-more"></mat-icon>
        <mat-icon svgIcon="dragonIcon" class="logo"></mat-icon>
      </div>
    </li>

    <li class="nav-item" *ngFor="let item of menuItems">
      <div *ngIf="item.link" [routerLink]="item.link" class="nav-link"
        matTooltipClass="side-bar-tooltip">
        <mat-icon [svgIcon]="item.icon"></mat-icon>
        <span class="nav-title">{{ item.title | translate }}</span>
      </div>
    </li>
  </ul>
</nav>

<div class="content-box">
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
