@import "../../../custom-theme.scss";
$navbar-size: 5rem;

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .tabs {
        user-select: none;

        h1 {
            color: $font;
            margin-bottom: 0;

            &.disabled {
                text-decoration: line-through #000000 2px;
            }
        }

        .icon {
            color: $primary;
            margin-left: 0.5rem;
        }
    }

    .game {
        text-align: center;
        display: grid;

        grid-template-columns: 1rem 1fr 2fr 1fr 1rem;
        grid-template-areas:
            ".  .      title  .       ."
            ".  guess  guess  guess   ."
            ".  .      lives  points  ."
            ".  .      input  buttons ."
        ;
    }

    p {
        margin-top: auto;
        text-align: end;

        a {
            color: $primary;
        }
    }
}

.title {
    grid-area: title;
}

.emoji {
    font-size: 5rem;
    line-height: initial;
    grid-area: guess;
}

.points {
    grid-area: points;
}

.input {
    grid-area: input;
}

.buttons {
    grid-area: buttons;
}

.lives {
    grid-area: lives;
}

.label {
    color: $primary;
}

::placeholder {
    color: $font;
    opacity: 0.85;
}

.animation {
    $icon-width: 20vh;
    position: absolute;
    top: 9%;
    // (middle of container) + (half of navbar width) - (half of icon width)
    left: calc(50% + #{$navbar-size} / 2 - #{$icon-width} / 2);

    .correct {
        color: #4CAF50;
    }

    .icon {
        height: $icon-width;
        width: $icon-width;
        font-size: $icon-width;

        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

    .showing {
        opacity: 1;
        transition: opacity 300ms ease-in-out;
    }
}
